<%- include('partials/header'); -%>

<form class="m-5" action="/update-course-preferences" method="POST">
  <h5 class="mb-3">Course Options: <br/></h5>
  <div class="form-group">
    <div class="pr-3">Course Description:</div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="course_hasDescription" id="course-hasDescription-1" value="true" required>
      <label class="form-check-label" for="course-hasDescription-1">True</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="course_hasDescription" id="course-hasDescription-2" value="false">
      <label class="form-check-label" for="course-hasDescription-2">False</label>
    </div>
  </div>
  <div class="form-group">
    <div class="pr-3">Course Pace:</div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="course_hasPace" id="course-hasPace-1" value="true" required>
      <label class="form-check-label" for="course-hasPace-1">True</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="course_hasPace" id="course-hasPace-2" value="false">
      <label class="form-check-label" for="course-hasPace-2">False</label>
    </div>
  </div>
  <div class="form-group">
    <div class="pr-3">Course Antirequisites:</div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="course_hasAntiReq" id="course-hasAntiReq-1" value="true" required>
      <label class="form-check-label" for="course-hasAntiReq-1">True</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="course_hasAntiReq" id="course-hasAntiReq-2" value="false">
      <label class="form-check-label" for="course-hasAntiReq-2">False</label>
    </div>
  </div>
  <div class="form-group">
    <div class="pr-3">Course Corerequisites:</div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="course_hasCoreReq" id="course-hasCoreReq-1" value="true" required>
      <label class="form-check-label" for="course-hasCoreReq-1">True</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="course_hasCoreReq" id="course-hasCoreReq-2" value="false">
      <label class="form-check-label" for="course-hasCoreReq-2">False</label>
    </div>
  </div>
  <div class="form-group">
    <div class="pr-3">Course Metrics:</div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="course_hasMetrics" id="course-hasMetrics-1" value="true" required>
      <label class="form-check-label" for="course-hasMetrics-1">True</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="course_hasMetrics" id="course-hasMetrics-2" value="false">
      <label class="form-check-label" for="course-hasMetrics-2">False</label>
    </div>
  </div>
  <div class="form-group">
    <div class="pr-3">Course Comments:</div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="course_hasComments" id="course-hasComments-1" value="true" required>
      <label class="form-check-label" for="course-hasComments-1">True</label>
    </div>
    <div class="form-check form-check-inline">
      <input class="form-check-input" type="radio" name="course_hasComments" id="course-hasComments-2" value="false">
      <label class="form-check-label" for="course-hasComments-2">False</label>
    </div>
  </div>
  <button type="submit" class="btn btn-primary">Save Changes</button>
</form>

<%- include('partials/footer'); -%>
