<%- include('partials/header'); -%>
  <link rel="stylesheet" href="/css/bootstrap-multiselect.css">
  <script src="/js/bootstrap-multiselect.js"></script>

  <style>
    .btn-group, .btn-group-vertical {
      flex-direction: column;
      align-items: flex-start;
    }

    .dropdown-menu {
      position: relative !important;
      transform: none !important;
      margin-top: 5px;
      max-height: 200px;
      overflow-y: scroll;
      width: 350px;
    }

    .multiselect-container .input-group {
      margin: 0px;
      padding: 1rem;
    }

    .multiselect-container>li>a>label {
      padding-left: 0.75rem;
      padding-right: 0.75rem;
      padding-top: 0.15rem;
      padding-bottom: 0.15rem;
    }

    .multiselect-filter {
      display: flex;
      flex-direction: row;
      width: 100%;
    }

    .input-group-addon {
      width: 25px;
    }

    .multiselect-search {
      width: 75px !important;
      margin-right: 1rem;
      margin-left: 0.25rem;
    }
  </style>

  <div class="m-5">
    Courses Page <br/>
    <a href="/">Home</a> <br/>
    <a href="/courses">Courses</a> <br/>
    <a href="/admin">Admin</a>

    <form action="/admin" method="POST">
      <h5 class="mb-3">Add Course</h5>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="name">Course Name</label>
            <input type="text" class="form-control" name="courseName" id="name" placeholder="Course Name" required>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="code">Course Code</label>
            <input type="text" class="form-control" name="courseCode" id="code" placeholder="Course Code" required>
          </div>
        </div>
      </div>
      <div class="form-group">
        <label for="description">Course Description</label>
        <textarea class="form-control" name="courseDescription" id="description" rows="3"></textarea>
      </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="grade">Course Grade</label>
            <input type="number" class="form-control" name="courseGrade" id="grade" placeholder="Course Grade" required>
          </div>
        </div>
        <div class="col">
          <div class="form-group">
            <label for="pace">Course Pace</label>
            <input type="text" class="form-control" name="coursePace" id="pace" placeholder="Course Pace">
          </div>
        </div>
      </div>
      <script type="text/javascript">
        $(document).ready(function() {
            $('#prerequisites').multiselect({
                enableFiltering: true,
                filterBehavior: 'value',
                enableCaseInsensitiveFiltering: true
            });
        });
      </script>
      <div class="mt-2 mb-4">
        <label for="prerequisites">Course Prerequisites</label> <br/>
        <select class="mb-3" id="prerequisites" multiple="multiple" name="coursePrerequisites[]">
          <% courses.forEach(function(course){ %>
            <option value=<%= course.code %>><%= course.code %></option>
          <% }); %>
        </select>
      </div>
      <button type="submit" class="btn btn-primary">Add Course</button>
    </form>
  </div>

<%- include('partials/footer'); -%>
