<%- include('partials/header'); -%>
  <div class="container">
      <h1 class="mb-1"><%= course.code %></h1>
      <a href='/courses' class="btn btn-secondary">All Courses</a>

  </div>
<%- include('partials/footer'); -%>
