<%- include('partials/header'); -%>
  <div>
    <a href="/admin">Admin</a> <br/>
    <a href="/courses">Courses</a><br/>
    <a href="/teachers">Teachers</a>
  </div>

<%- include('partials/footer'); -%>
