<%- include('../../partials/header'); -%>
  <link rel="stylesheet" href="/css/bootstrap-multiselect.css">
  <script src="/js/bootstrap-multiselect.js"></script>

  <div class="m-5">
    Teacher Review Page <br/>
    <a href="/">Home</a> <br/>

    <form action="/teachers/<%= teacher.name.firstName %>_<%= teacher.name.lastName %>/review" method="POST">
      <h5 class="mb-3">Add Review</h5>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="metric1">Metric 1</label>
            <div class="radio">
                <label><input type="radio" name="metric1" value="1" required>1</label>
                <label><input type="radio" name="metric1" value="2">2</label>
                <label><input type="radio" name="metric1" value="3">3</label>
                <label><input type="radio" name="metric1" value="4">4</label>
                <label><input type="radio" name="metric1" value="5">5</label>
            </div>
          </div>
        </div>
      </div>
      <div class="col">
        <div class="form-group">
          <label for="metric2">Metric 2</label>
          <div class="radio">
              <label><input type="radio" name="metric2" value="1" required>1</label>
              <label><input type="radio" name="metric2" value="2">2</label>
              <label><input type="radio" name="metric2" value="3">3</label>
              <label><input type="radio" name="metric2" value="4">4</label>
              <label><input type="radio" name="metric2" value="5">5</label>
          </div>
        </div>
      </div>
    </div>
    <div class="col">
        <div class="form-group">
          <label for="metric3">Metric 3</label>
          <div class="radio">
            <label><input type="radio" name="metric3" value="1" required>1</label>
            <label><input type="radio" name="metric3" value="2">2</label>
            <label><input type="radio" name="metric3" value="3">3</label>
            <label><input type="radio" name="metric3" value="4">4</label>
            <label><input type="radio" name="metric3" value="5">5</label>
          </div>
        </div>
      </div>
    </div>
      <div class="form-row">
        <div class="col">
          <div class="form-group">
            <label for="grade">Comment Text</label>
            <textarea type="text" class="form-control" name="commentText" id="commentText" placeholder="Comment Text" required></textarea>
          </div>
        </div>
        <div class="form-group">
            <label for="isAnonymous">Remain Anonymous</label>
            <div class="radio">
                <label><input type="radio" name="isAnonymous" value="true" required>True</label>
                <label><input type="radio" name="isAnonymous" value="false">False</label>
            </div>
          </div>
        </div>
      </div>
      <button type="submit" class="btn btn-primary">Add Review</button>
    </form>
  </div>

<%- include('../../partials/footer'); -%>
