$blue: #1c5d99;
$red: #d2544a;
$yellow: #eeac42;
$teal: #22b8a7;

$secondary: #99d3ff;
$info: #c2b8b2;
$success: $teal;
$dark: #222222;

$box-shadow-sm: 0 1px 2px rgba(0,0,0,0.12),
                0 2px 4px rgba(0,0,0,0.12);
$box-shadow: 0 1px 2px rgba(0,0,0,0.12),
             0 2px 4px rgba(0,0,0,0.12),
             0 4px 8px rgba(0,0,0,0.12),
             0 8px 16px rgba(0,0,0,0.12);
$box-shadow-lg: 0 1px 2px rgba(0,0,0,0.12),
                0 2px 4px rgba(0,0,0,0.12),
                0 4px 8px rgba(0,0,0,0.12),
                0 8px 16px rgba(0,0,0,0.12),
                0 16px 32px rgba(0,0,0,0.12),
                0 32px 64px rgba(0,0,0,0.12);
