<%- include('../partials/header'); -%>

  <div class="container">
      <a href='/teachers' class="btn btn-secondary">All Teachers</a>
      <br/>
      <button type="button" class="btn btn-primary"><a class="text-white" href="/teachers/<%= teacher.name.firstName %><%= teacher.name.lastName %>/edit">Edit Teacher</a></button>
  </div>

<%- include('../partials/footer'); -%>
